* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Poppins', 'Montserrat', sans-serif;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  color: white;
}

.container {
  width: 100%;
  height: 90vh;
  padding: 20px;
}

h2{
  color: black;
  text-align: center;
  font-weight: 600;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fa-bars, .fa-house{
  font-size: 1.5rem;
  color: black;
}
.fa-house:hover,
.fa-bars:hover{
  transform: scale(1.2);
}

.music-container {
  background-color: black;
  border-radius: 1rem;
  box-shadow: inset 0px 0px 30px rgb(255, 255, 255);
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.track-art {
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
  position: relative;
  bottom: 30px;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
}


#music-box {
  width: 100%;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  }

  .track-name {
    font-size: 1.5rem;
    }
    
    .track-artist {
    font-size: 1rem;
    }

    .track-writer{
      font-size: .7rem;
    }
    
    .buttons {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    }

    .repeat-track,
    .random-track,
    .playpause-track,
    .prev-track,
    .next-track {
    padding: 20px;
    opacity: 1;
    transition: opacity .2s;
    font-size: .7rem;
    }
    
    .repeat-track:hover,
    .random-track:hover,
    .playpause-track:hover,
    .prev-track:hover,
    .next-track:hover {
    transform: scale(1.2);
    }
    
    .slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
    
    .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background:rgb(255, 255, 255) ;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }
    
    .seek_slider::-webkit-slider-thumb,
    .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: rgb(0, 0, 0);
    border: 3px solid rgb(255, 255, 255);
    cursor: grab;
    border-radius: 50%;
    }
    
    .seek_slider:hover,
    .volume_slider:hover {
    opacity: .7;
    }
    
    .seek_slider {
    width: 60%;
    }
    
    .volume_slider {
    width: 40%;
    }
    
    .current-time,
    .total-duration {
    padding: 10px;
    }
    
    i.fa-volume-down,
    i.fa-volume-up {
    padding: 10px;
    }
    
    i,
    i.fa-play-circle,
    i.fa-pause-circle,
    i.fa-step-forward,
    i.fa-step-backward
    {
    cursor: pointer;
    }
    .randomActive{
        color: rgb(247, 6, 6);
    }
    .loopActive{
      color: red;
    }








